:root{
	--bg-color:#f8f9fa;
	--main-color:#ff2b26;
	--navBar-color:#3b3b39;
	--navBar-font-color:#f2f2f2;
	--black-color: #000000;
	--green-color: #259b56;
	--white-color: #ffffff;
	--border-color: #cccccc;
    --delete-color: #e74242 ;
    --delete-hover-color:#b83434;
}